@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
img {
  padding: 0;
  margin: 0;
}

/* FLEX */

header,
main,
.wrapper,
.temperaturesC,
.temperaturesF,
.info,
.pressure_info,
.wind_info,
.humidity_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
main,
.weather_wrapper,
.wrapper,
.pressure_info,
.wind_info,
.humidity_info {
  flex-direction: column;
}

/**********/
body {
  position: relative;
  background-image: linear-gradient(#858cca, #85d0ff);
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

/**** HEADER ****/
header {
  height: 80px;
}

/* SELECT */
.comuni {
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #85d0ff;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  width: 250px;
}

option {
  background-color: #858cca;
  font-size: 1rem;
}

/*** MAIN ***/

/* WEATHER */
.wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.116);
  width: 80%;
  border-radius: 15px;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.021);
  padding: 5px;
}

.text {
  text-transform: capitalize;
}

.temperaturesF,
.temperaturesC {
  margin-top: 10px;
}

.tempF,
.temp {
  font-size: 3rem;
}

.min_max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.min span:first-child,
.minF span:first-child {
  color: #429ed3;
}
.max span:first-child,
.maxF span:first-child {
  color: #c04545;
}

.unitF,
.unitC {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.8rem;
}

/* EXTRA INFO */
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.151);
}
.info h3 {
  margin: 10px;
}

/*****/
.hidden {
  display: none;
}
